header{
   background: #426494 !important;
}

.btn.btn-primary {
	background-color: #426494 !important;
	border-color: #426494 !important;
}

.btn-squeze{
	padding: 7px 0px !important;
}

a {
	color: #426494 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
